div{
    height: 50px;
    width: 100px;
    background-color: brown;
    border-width: 10px;
    color:beige;
    border-style: solid;
    border-color: black;
    
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-top: 25px;

    margin-left: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;

    
}
h1{
    height: 50px;
    width: 150px;
    background-color: aqua;
    border-width: 3px; 
    border:3px solid brown;
    border-radius: 3;
}